.row{
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.ms-2{
  text-decoration: none;
}


.h1{
  text-align: center;
}
.h3{
  text-align: center;
}
.h5{
  text-align: center;
}


.count{
  position: relative;
  top:30px;
  background-color: red !important;
  border-radius: 50%;
  height: 30px;
  width:30px;
  text-align: center;
}

@media(min-width:700px){
 .carousel-inner{
  height:400px;

 }
 
 .carousel-item{
  object-fit: cover!important;
 }
}